.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NO__welcome {
  height: 100vH;
  width: 100vW;
  z-index: 1;
}

.NO__welcome_img {
  position: auto;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}

.NO__welcome_img-show {
  opacity: 1;
}

.NO__welcome_img-hide {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
.NO__welcome_img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.NO__welcome_login-title {
  position: fixed;
  font-size: 16pt;
  font-weight: bold;
  margin: 20px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.NO__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-stretch: semi-condensed;
}

.NO__text:hover {
  color: #d3d3d3;
  cursor: pointer;
}

.NO__image img {
  max-height: 100vH;
  z-index: 10000;
  right: 0;
  left: 0;
  margin: auto;
}

.NO__feed {
  position: absolute;
  width: 100vW;
  height: 100vH;
  top: 0;
  z-index: 1;
}

.NO_login {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  right: 20px;
  font-weight: bolder;
}

.NO__signForm {
  position: absolute;
  width: 100vW;
  overflow: hidden;
  height: 50px;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(245, 245, 245, 0.7);
  border-radius: 30px;
}

.NO__form-control {
  width: 200px;
  height: 30px;
  margin: 2px;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.NO__form-group {
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100vW;
  padding: 10px;
}

.btn.btn-info {
  height: 35px;
  width: 120px;
  padding: 10px;
  background: white;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  border: .5px solid rgb(216, 216, 216);
  cursor: pointer;
}

.NO__warning {
  color: red;
}

.NO__welcome-text {
  text-align: left;
  position: absolute;
  left: 0;
  margin: 10px;
  font-weight: bolder;
}

.lazy-image {
    display: block;
    min-height: 1px;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.lazy-image--loaded {
    opacity: 1;
}
