* {
  cursor: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NO__welcome {
  height: 100vH;
  width: 100vW;
  z-index: 1;
}

.NO__welcome_img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 85%;
  cursor: not-allowed;
  z-index: 10;
}

.NO__welcome_img-show {
  opacity: 1;
}

.NO__welcome_img-hide {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
.NO__welcome_img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.NO__welcome_login-title {
  position: fixed;
  font-size: 16pt;
  font-weight: bold;
  margin: 20px;
  right: 0;
  bottom: 0;
  cursor: not-allowed;
}

.NO__text {
  position: absolute;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-stretch: semi-condensed;
  padding: 10px;
}

.NO__text-title {
  width: 200px;
  height: 20px;
}

.NO__text:hover {
  background: #000000;
}

.NO__text:hover {
  color: #d3d3d3;
  cursor: not-allowed;
}

.NO__image img {
  max-height: 100vH;
  z-index: 10000;
  right: 0;
  left: 0;
  margin: auto;
}

.NO__feed {
  position: absolute;
  width: 100vW;
  height: 100vH;
  top: 0;
  z-index: 1;
}

.NO_login {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 0 -10px 0;
  height: 50px;
  width: 100px;
  right: 20px;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .NO_login {
    height: 30px;
    right: 0;
  }
}

.NO_login:hover {
  background: transparent;
}

.NO__signForm {
  position: fixed;
  width: 100vW;
  overflow: hidden;
  height: 50px;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(214, 214, 214, 0.1);
}

@media only screen and (max-width: 768px) {
  .NO__signForm {
    top: 0;
    height: 80px;
  }
}

.NO__form-control {
  width: 200px;
  height: 30px;
  margin: 2px;
  font-size: 0.9rem;
  border: 0px solid #00000099;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  background: #36363c;
  color: #ffffff;
}

::placeholder {
  color: #a9a9a9;
  opacity: 1; /* Firefox */
}


.NO__form-group {
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100vW;
  padding: 10px;
}

.btn.btn-info {
  height: 35px;
  width: 120px;
  padding: 10px;
  background: #ffffff;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  border: .5px solid #3c3c3c;;
  border-radius: 5px;
  cursor: not-allowed;
}

.NO__warning {
  color: #ff0000;
}

.NO__welcome-text {
  text-align: left;
  position: absolute;
  left: 0;
  margin: 10px;
  font-weight: bolder;
}

.lazy-image {
    display: block;
    min-height: 1px;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.lazy-image--loaded {
    opacity: 1;
}

.NO__paragraph {
  right: 0;
  top: 0;
  position: absolute;
  width: 40%;
  line-height: 2;
  text-align: justify;
  margin: 40px 30px;
  color: #ff0000;
}

.NO__overlay-img {
  max-width: 59vW;
}

.NO__h3 {
  height: 20px;
  position: absolute;
  margin-top: 0;
}

.NO__dot {
  position: fixed;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  right: 0;
  top: 0;
  margin: 20px;
}

.NO__dot:hover {
  background-color: #bbbbbb;
  cursor: not-allowed;
}
