* {
  cursor: not-allowed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NO__welcome {
  height: 100vH;
  width: 100vW;
  z-index: 1;
}

.NO__welcome-black {
  height: 100vH;
  width: 100vW;
  z-index: 1;
  background: #000;
}

.NO__welcome_img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 79vH;
  cursor: not-allowed;
  z-index: 10;
}

.NO__welcome_img-show {
  opacity: 1;
}

.NO__welcome_img-hide {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  z-index: 0;
}

@media only screen and (max-width: 800px) {
  .NO__welcome_img {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;

      &_black {
        background: #000000;
      }
    }

  .NO__text {
    position: relative;
    width: 100vW;
    display: block;
  }
}

.NO__welcome_login-title {
  position: fixed;
  font-size: 16pt;
  font-weight: bold;
  margin: 20px;
  right: 0;
  bottom: 0;
  cursor: not-allowed;
}

.NO__text {
  position: absolute;
  color: #ffffff;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-stretch: semi-condensed;
  padding: 10px;
  z-index: 1000;
}

.NO__text-title {
  width: 700px;
  height: 40px;
}

.NO__text:hover {
  background: #000000;
}

.NO__text:hover {
  color: #d3d3d3;
  cursor: not-allowed;
}

.NO__image img {
  max-height: 100vH;
  z-index: 10000;
  right: 0;
  left: 0;
  margin: auto;
}

.NO__feed {
  position: absolute;
  width: 100vW;
  height: 100vH;
  top: 0;
  z-index: 1000000;
}

.NO_login {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  font-weight: bolder;
  z-index: 1000000;

  img {
    height: 2.2rem;
    margin: 1rem 1.5rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .NO_login {
    text-align: right;
    width: auto;

    img {
      margin: 1rem .5rem;
    }
  }
}

.NO_login:hover {
  background: transparent;
}

.NO__signForm {
  position: fixed;
  width: 100vW;
  overflow: hidden;
  height: 50px;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(214, 214, 214, 0.1);
}

@media only screen and (max-width: 768px) {
  .NO__signForm {
    top: 0;
    height: 80px;
  }
}

.NO__form-control {
  width: 200px;
  height: 30px;
  margin: 2px;
  font-size: 0.9rem;
  border: 0px solid #00000099;
  border-radius: 30px;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  background: #36363c;
  color: #ffffff;
  cursor: pointer;
}

.NO__form-control:focus {
  outline: none;
}

::placeholder {
  color: #a9a9a9;
  opacity: 1; /* Firefox */
}


.NO__form-group {
  display: inline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100vW;
  padding: 10px;
}

.btn.btn-info {
  height: 35px;
  width: 120px;
  padding: 10px;
  background: #ffffff;
  font-size: 0.8rem;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  border: .5px solid #3c3c3c;;
  border-radius: 5px;
  cursor: not-allowed;
}

.btn.btn-info:active,
.btn.btn-info:focus  {
  outline: 1px solid #000000;
}

.NO__warning {
  color: #ff0000;
}

.NO__welcome-text {
  text-align: left;
  position: absolute;
  left: 0;
  margin: 10px;
  font-weight: bolder;
  top: 0;
}

.lazy-image {
  display: block;
  min-height: 1px;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 1000;
}

.loaded {
  opacity: 1;
}

.NO__paragraph {
  right: 0;
  top: 0;
  position: absolute;
  width: 40%;
  line-height: 2;
  text-align: justify;
  margin: 40px 30px;
  color: #ff0000;
  word-break: break-word;
}

.NO__text-note {
  color: #ff0000;
  line-height: 2;
}

.NO__overlay-img {
  max-width: 59vW;
}

.NO__h3 {
  height: 20px;
  position: absolute;
  margin-top: 0;
}

@media only screen and (max-width: 800px) {
  .NO__overlay-img{
    position: relative;
    max-width: 100%;
  }

  .NO__h3 {
    position: relative;
    color: red;
    max-width: 90vW;
    float: right;
    padding: 1.8rem 1rem 0 0;
    overflow: auto;
    display: block;
    margin: 0;
  }

  .NO__paragraph {
    position: relative;
    height: 100%;
    margin: 1rem;
    float: right;
    width: 70vW;
    display: block;
    overflow: auto;
  }
}

.NO__dot {
  position: fixed;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  right: 0;
  top: 0;
  margin: 1.3rem 2.3rem;
  z-index: 1000000;
}

.NO__about {
  left: 0;
  right: auto;
  height: 2.3rem;
  width: 2.3rem;
  margin: 1.2rem 2.5rem;
}

.NO__dot:hover {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

@media only screen and (max-width: 800px) {
  .NO__about {
    margin: 1.2rem 1.5rem;
  }

  .NO__dot {
    margin: 1.3rem 1.3rem;
    z-index: 30000;
  }

  .NO__dot:hover, .NO__dot:active{
    background-color: #ffffff;
  }
}
.NO__post_form {
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  top: .5rem;
  bottom: .5rem;
  width: 40vW;
  background: transparent;
  border: .5px solid #000000d6;
  border-radius: 20px;
  z-index: 10000000;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .NO__post_form {
    right: 0;
    left: 0;
    width: 95%;
    margin: auto;
    overflow: auto;
  }
}

.NO__post_form-control {
  width: 95%;
  margin: 3px;
  padding: 10px;
  font-size: 0.9rem;
  border: .5px solid #00000099;
  border-radius: 30px;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  background: #ffffff;
  color: #000000;
  cursor: not-allowed;
}

.NO__post_form-control-preview {
  max-width: 100%;
  height: auto;
}

.NO__form-text-area {
  height: auto;
}

.NO__post_form-group {
  width: 95%;
  margin: 3.5rem auto 1rem;
  right: 0;
  left: 0;
  display: block;

  select {
    width: 98%;
    height: 1.5rem;
  }
}

.NO_form-close-icon {
  height: 2rem;
  right: 0;
  margin: .7rem 1rem;
  position: absolute;
  cursor: pointer;
}

.NO__post_form-input {
  position: relative;
}

.NO__post_form-img {
  height: 1.5rem;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  right: .8rem;
  cursor: pointer;
}

.NO_post_tooltip {
  position: relative;
  border-radius: .5rem;
  font-size: .8rem;
  line-height: 1.5;
  background: #f9f9f9;
  color: #484848;
  padding: .5rem;
  word-break: break-word;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .NO__post_form-control {
    width: 95%;
    padding: .5rem 0rem;
    font-size: 0.9rem;
    border: .5px solid #00000099;
    border-radius: 30px;
    font-family: 'PT Mono',Tahoma,Arial,sans-serif;
    background: #ffffff;
    color: #000000;
    cursor: not-allowed;
    left: 0;
  }

  .NO__form-text-area {
    height: 20%;
  }

  .NO__post_form-group {
    width: 97%;
    select {
      width: 95%;
      height: 2rem;
    }
  }
}

.NO__post_form-control:focus {
  outline: 1px solid #000000;
}

.NO__add_post-text {
  position: fixed;
  font-size: 16pt;
  font-weight: bold;
  margin: 20px;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: not-allowed;
}

.NO__post_form-control--submit {
  margin: 10px 0;
}

.NO__font--good-vibes {
  font-family: 'Great Vibes', cursive;
}

.NO__font--permanent-marker {
  font-family: 'Permanent Marker', cursive;
}

.NO__font--archivo-black {
  font-family: 'Archivo Black', cursive;
}

.NO__font--megrim {
  font-family: 'Megrim', cursive;
}

.NO__font--vidaloka {
  font-family: 'Vidaloka', serif;
}

.NO__font--allerta-stencil {
  font-family: 'Allerta Stencil', sans-serif;
}

.NO__font--press-start-2p {
  font-family: 'Press Start 2P', cursive;
}

.NO__font--cutive-mono {
  font-family: 'Cutive Mono', monospace;
}

.NO__font--major-mono-display {
  font-family: 'Major Mono Display', monospace;
}

.NO__font--cormorant-sc {
  font-family: 'Cormorant SC', serif;
}

.NO__font--zcool-kuaiLe {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.NO__font--montserrat-subrayada {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.NO__font--anton {
  font-family: 'Anton', sans-serif;
}

.NO__font--share-tech-mono {
  font-family: 'Share Tech Mono', monospace;
}

.NO__font--libre-barcode-39 {
  font-family: 'Libre Barcode 39', cursive;
}

.NO__font--monsieur-la-doulaise {
  font-family: 'Monsieur La Doulaise', cursive;
}

.NO__font--zilla-slab-highlight {
  font-family: 'Zilla Slab Highlight', cursive;
}

.NO__font--monofett {
  font-family: 'Monofett', cursive;
}

.NO__font--default {
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
}

.NO__font--times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.NO__font-size--1 {
  font-size: 1rem;
}

.NO__font-size--1-2 {
  font-size: 1.2rem;
}

.NO__font-size--1-5 {
  font-size: 1.5rem;
}

.NO__font-size--1-7 {
  font-size: 1.7rem;
}

.NO__font-size--2 {
  font-size: 2rem;
}

.NO__font-size--2-2 {
  font-size: 2.2rem;
}

.NO__font-size--2-5 {
  font-size: 2.5rem;
}

.NO__font-size--2-7 {
  font-size: 2.7rem;
}

.NO__font-size--3 {
  font-size: 3rem;
}

.NO__welcome-preview {
  z-index: 10000;
  width: 100vW;
  height: 100vH;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .NO__welcome-preview {
    z-index: 100;
  }
}

.NO__post {
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .NO__post {
    height: auto;
  }

  .NO__overlay-vid {
    width: 100%;
    max-width: 100%!important;
    height: auto;
    float: none!important;
    position: relative;
  }
}

.NO__overlay-vid {
  max-width: 59vW;
  float: left;
}

.NO_vid {
  height: 100%;
  position: fixed;
  left: 0;
}

.NO__welcome_img-mobile {
  height: 100vH;
  max-height: 100%;
  width: 100vW;
  max-width: 100%;
  position: fixed;
  overflow: scroll;
  margin: 0;
}


#remotes {
  visibility: visible;
}

#url {
  text-align: center;
  display: none;
}

#login {
  display: none;
}

#roomIntro {
  font-weight: bold;
}

.videoContainer {
  object-fit: cover;
  margin: 0 auto;
  padding: 0;
}

.videoContainer video {
  height: 100%;
  position: fixed;
  left: 0;
}

.volume {
  position: absolute;
  left: 15%;
  width: 70%;
  bottom: 20px;
  height: 10px;
  display: none;
}

.connectionstate {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.col-md-6 {
  margin-bottom: 1em;
}

.NO_roomId {
  position: fixed;
  display: block;
}

.NO__control {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.cat-flows {
  text-align: left;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-size: .8rem;
  line-height: 1.5;
  background: #fff;
  padding: .2rem 1rem;
  margin: 0;
}

.cat-flows-item {
  border: .5px solid #00000099;
  cursor: pointer;
  margin: .1rem;
  padding: .3rem;
  display: inline-block;
  border-radius: .3rem;
}

.cat-flows-title {
  margin: 10px 0;
  padding: .5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.cat-flows-title span {
    display: inline;
    cursor: pointer;
}

.NO__post_form-note {
  font-size: .8em;
  display: block;
  padding: .1rem;
  text-align: left;
  margin: .5rem;
}

.NO__about-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: 100vH;
  z-index: 10;
  background: #fff;
  overflow-x: hidden;
}

.NO__about-nav {
  position: fixed;
  display: block;
  height: 100vH;
  width: 20%;
  float: left;
  top: 9rem;
  margin: auto;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  .NO__post_form-note {
    font-size: .6em;
    margin: 0 .5rem;
  }
  .NO__about-nav {
    bottom: auto;
    width: 100%;
    padding-top: 3rem;
    top: 0;
    background: #fff;
    z-index: 10000;
  }

  .NO__about-page {
    position: fixed;
    width: 100vW;
    max-width: 100%;
    height: auto;
    z-index: 10;
    overflow: auto;
  }
}

.NO__about-nav-title {
  margin: 1.5rem 0;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-stretch: semi-condensed;
  padding: 1rem 3rem;
  font-size: 11pt;
  color: #ff0000;
}

.NO__about-nav-title:hover {
  color: #fff;
  background: #000;
}

.NO__about-nav-title:hover:before {
  content: '://NO';
}

.NO__about-nav-title:hover:after {
  content: '*';
}

.NO__about-feed {
  width: 70%;
  float: right;
  background: #fff;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  font-size: 12pt;
  line-height: 2;
  margin-top: 2rem;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .NO__about-feed {
    width: auto;
    float: none;
  }
}

.NO__about-feed-item {
  margin-top: 7rem;
}

.NO_about-feed-item-intro {
  width: 47vW;
  float: right;
  background: #ffffff;
  overflow: hidden;
  font-family: 'Special Elite', cursive;
  text-align: justify;
}

img.fr-fic.fr-dib,
img.fr-fic.fr-dii.fr-fil {
  max-width: 600px;
  width: 600px!important;
}

@media only screen and (max-width: 800px) {
  .NO_about-feed-item-intro {
    margin: 2.3rem .1rem 0 .1rem;
    width: auto;
    float: none;
    text-align: justify;
  }
  .NO_about-feed-item-intro > div > div > img {
      margin-right: -.5rem;
  }
}

.NO__about-feed-content {
  margin-top: 2rem;
}
.NO__about-feed-content,
.NO__about-feed-content img {
    max-width: 50vW;
}

@media only screen and (max-width: 800px) {
  img.fr-fic.fr-dib,
  img.fr-fic.fr-dii.fr-fil {
    width: auto!important;
    max-width: 100%;
    display: block;
  }
  .NO__about-feed-content,
  .NO__about-feed-content img {
    max-width: 100vW;
  }
  .NO__about-feed-content {
    font-size: 11pt;
  }

  span, p {
    display: block;
    width: auto;
    text-align: justify;
    margin: 0 .2rem .2rem;
    line-height: 2.1;
    font-size: 10pt;
  }

  body,html {
   max-width: 100vW;
   min-width: 100vW;
 }
}

.NO_descr {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 70%;
  height: 50%;
  margin: auto;
  font-family: 'PT Mono',Tahoma,Arial,sans-serif;
  line-height: 2;
  font-size: 11pt;
  text-align: justify;
}

// Loader
.loader,
 .static-loader {
  bottom: 0;
  right: 0;
  margin: 2rem;
  font-size: .3rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: fixed;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 100;
}

.static-loader {
  top: 0;
  left: 0;
  margin: auto;
  background: #ffffff;
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000000, 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.5), -1.8em -1.8em 0 0em rgba(0,0,0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.7), 1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.5), 1.8em -1.8em 0 0em rgba(0,0,0, 0.7), 2.5em 0em 0 0em #000000, 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.5), 2.5em 0em 0 0em rgba(0,0,0, 0.7), 1.75em 1.75em 0 0em #000000, 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.5), 1.75em 1.75em 0 0em rgba(0,0,0, 0.7), 0em 2.5em 0 0em #000000, -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.5), 0em 2.5em 0 0em rgba(0,0,0, 0.7), -1.8em 1.8em 0 0em #000000, -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.5), -1.8em 1.8em 0 0em rgba(0,0,0, 0.7), -2.6em 0em 0 0em #000000, -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.5), -2.6em 0em 0 0em rgba(0,0,0, 0.7), -1.8em -1.8em 0 0em #000000;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000000, 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.5), -1.8em -1.8em 0 0em rgba(0,0,0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.7), 1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.5), 1.8em -1.8em 0 0em rgba(0,0,0, 0.7), 2.5em 0em 0 0em #000000, 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.5), 2.5em 0em 0 0em rgba(0,0,0, 0.7), 1.75em 1.75em 0 0em #000000, 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.5), 1.75em 1.75em 0 0em rgba(0,0,0, 0.7), 0em 2.5em 0 0em #000000, -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.5), 0em 2.5em 0 0em rgba(0,0,0, 0.7), -1.8em 1.8em 0 0em #000000, -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.5), -1.8em 1.8em 0 0em rgba(0,0,0, 0.7), -2.6em 0em 0 0em #000000, -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.5), -2.6em 0em 0 0em rgba(0,0,0, 0.7), -1.8em -1.8em 0 0em #000000;
  }
}

.NO__audio {
  position: fixed;
  z-index: 10000000;
  bottom: 0;
  left: 0;
}

audio::-webkit-media-controls-panel {
  background: #ffffff;
}
